.single-court-name, .single-court-desc {
	padding-left: 20px;
}
.single-court-desc {
	margin-bottom: 40px;
	font-weight: 300;
}

.single-court-address, .single-court-hours, .single-court-events {
    list-style: none;
		padding: 0;
		font-weight: 300;
		line-height: 2;
}

.create-new-event {
	background-color: #f7cd96;
	text-decoration: none;
	font-weight: 300;
}

.create-new-event:hover {
	background-color: orange;
}

.label-events {
	margin-bottom: 20px;
}

.createBtn {
	font-weight: 300;
}

.createBtn:hover {
background-color: #f7cd96;
}

.login-required-message {
	color: #cc0000;
}