.single-event-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.single-event-desc, .single-event-courtName, .single-event-date, .single-event-time, .single-event-host {
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 1.5;
}

.single-event-host {
  margin-bottom: 30px;
}

.allEventsBtn, .deleteBtn, .editBtn {
	font-weight: 300;
}

.allEventsBtn:hover, .deleteBtn:hover, .editBtn:hover {
background-color: #f7cd96;
}

.allEventsBtn {
  margin-top: 25px;
  display: block;
}

.deleteBtn, .editBtn {
  display: inline;
  margin-right: 10px;
}

.single-event-info {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}