  
.nav-bar {
	background-color: #f8f8f8;
	border-bottom: 1px #e7e7e7 solid;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}

  #root, .app, .app>div, .large-menu-nav {
    margin-top: 0;
  }

  .nav-bar a{
    text-decoration: none;
    color: #777;
    font-size: 15px;
    font-weight: 300;
}

  .nav-ul {
    display: inline-block;
    list-style: none;
    padding: 0;
  }

  .large-menu-nav li {
    display: inline;
    font-size: 13px;
    margin-left: 30px;
  }

  a:hover {
      color:black;
  }

  @media screen and (max-width: 500px) {
    padding: 10px 0;
    .nav-bar>a {
      float:none;
    }
    nav-ul>li {
      padding: 10px 0;
    }

    .small-menu-nav {
      margin-top: 25px;
      line-height: 3;
    }
    .small-menu-nav>li {
      display: block;
    }
  }

@media screen and (min-width: 500px) {
  .left {
  text-align: left;
}
.right {
  text-align: right;
}
}
