*, html, body {
  box-sizing: content-box;
}

input, button {
  width: 18.75rem;
  height: 2.125rem;
  line-height: 100%;
  display: block;
  padding: 0.8em 0;
  margin: 0.8rem auto 0;
  border: solid 1px #1f253d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

button.searchButton {
  width: 18.75rem;
  color: #fff;
  font-size: 1em;
  padding: 0.2em;
  border: 1px solid orange;
  background-color: orange;
}

input.courtName {
  text-align: center;
  padding: 0.2em;
  font-size: 1.2rem;
}