
.court-search-form {
  background-color: orange;
}

.court-search-form input[type=text] {
    padding: 10px;
    font-size: 25px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
    height: 52px;
    text-align: center;
    font-weight: 100;
}

.court-search-form button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #ddd;
    color: white;
    font-size: 25px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 52px;
}

.court-search-form button:hover {
    background: #ccc;
}

.court-search-form::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 755px) {
    .court-search-form input[type=text] {
      font-size: 16px;
      width: 80%;
    }
    .court-search-form button {
      width: 20%;
    }
  }