
* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #333;
}

html {
	margin-bottom: 30px;
}

header * {
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-weight: 700;
}

.nav-bar h1 {
	font-size: 1.5em;
}

.nav-bar p {
	font-size: 0.8em;
	margin-top: 5px;
}

.box {
	border: 1px solid #EEEEEE;
	margin-bottom: 17px;
}

.box > img {
  object-fit: cover;
  width: 100%
}
