
* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #333;
}

html {
	margin-bottom: 30px;
}

header * {
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-weight: 700;
}

.nav-bar h1 {
	font-size: 1.5em;
}

.nav-bar p {
	font-size: 0.8em;
	margin-top: 5px;
}

.box {
	border: 1px solid #EEEEEE;
	margin-bottom: 17px;
}

.box > img {
  object-fit: cover;
  width: 100%
}

.single-court-name, .single-court-desc {
	padding-left: 20px;
}
.single-court-desc {
	margin-bottom: 40px;
	font-weight: 300;
}

.single-court-address, .single-court-hours, .single-court-events {
    list-style: none;
		padding: 0;
		font-weight: 300;
		line-height: 2;
}

.create-new-event {
	background-color: #f7cd96;
	text-decoration: none;
	font-weight: 300;
}

.create-new-event:hover {
	background-color: orange;
}

.label-events {
	margin-bottom: 20px;
}