/* body {
  background-image: 
    url('https://images.unsplash.com/photo-1530653791257-9ba248735445?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7a8396a20dca082d96d43304f3337af&auto=format&fit=crop&w=1951&q=80');
    background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
} */

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #333;
}

header * {
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-weight: 700;
}

.nav-bar h1 {
	font-size: 1.5em;
}

.nav-bar p {
	font-size: 0.8em;
	margin-top: 5px;
}

.box {
	border: 1px solid #EEEEEE;
	margin-bottom: 17px;
}

.box > img {
  object-fit: cover;
  width: 100%
}

.description {
	font-size: 14px;
	color: #777;
	margin-top: 0;
	margin-bottom: 25px;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.7;
}

.court-brief > h2 {
	font-size: 17px;
	color: #777;
	font-weight: 700;
	margin-bottom: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.court-brief > h2 > a {
	text-decoration: none;
	cursor: pointer;
}

.single-court-name, .single-court-desc {
	padding-left: 20px;
}
.single-court-desc {
	margin-bottom: 40px;
}

.single-court-address, .single-court-hours, .single-court-events {
    list-style: none;
    padding: 0;
}

.create-new-event {
	background-color: orange;
}

.create-new-event>a {
	text-decoration: none;
}

.courts-near-you {
	margin-bottom: 30px;
}